# macOS system files
.DS_Store

# Python virtual environment
venv/

# Compiled Python files
*.pyc
__pycache__/

# IDE files
.idea/
.vscode/

# Dependency directories
env/
data/
system_layer/storage/runtime/

checkpoints/
deploy_artifacts/
